* {
    font-size: 16px;
    /*the font size above is apparently the best practice*/

}


header {
    background-color: #061320;
    border: none;
    color: white;
}

a,
a:active {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

/*main section*/
.top {
    background-color: #16213E;
    color: white;
}

/* main heading on main section */
h1 {
    font: 60pt 'Nosifer', cursive;
    color: orange;
    font-weight: bold;
    text-align: center;
}

/*under the sneakr dealr heading*/

p {
    font: 18px #e5e7eb;
    opacity: 0.75;
    text-align: center;
}

/*the enter our world styling under the sneakr dealr heading*/
.enter {
    font-style: italic;
}

/*sign up button styling*/

button {}


/*sneaker cards section*/

.sneaker-cards-background {
    background-color: #0F3460;
    color: white;
}

.sneaker-cards {
    display: flex;
    justify-content: space-between;
}


/*quote section*/

.quote {
    background-color: #533483;
    color: white;
    text-align: center;
    padding: 30px 30px;
}

blockquote {
    font-size: 36px;
}

/*call to action section*/

.bottom {
    background-color: #e5e7eb;
    height: 20vh;
}


.action {
    background-color: #277BC0;

}

/*footer*/

.footer {
    background-color: #E94560;
    height: 5vh;
}

.footer-text {
    margin: auto;
    padding: 10px 10px;
    color: white;
    font-weight: bold;
}

/* media queries for different screen sizes */

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...
}