* {
    font-size: 16px;
    /*the font size above is apparently the best practice*/
    font-family: 'M PLUS 1p', sans-serif;
}


header {
    background-color: #061320;
    border: none;
    color: white;
}

a,
a:active {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

/*main section*/
.top {
    background-color: #16213E;
    color: white;
}

/* main heading on main section */
h1 {
    font: 60pt 'Nosifer', cursive;
    color: orange;
    font-weight: bold;
    text-align: center;
}

/*under the sneakr dealr heading*/

.landing-main {
    font: 18px #e5e7eb;
    opacity: 0.75;

}

/*the enter our world styling under the sneakr dealr heading*/
.enter {
    font-style: italic;
}

/*sign up button styling*/

button {
    background: transparent;
    box-sizing: border-box;
    border-radius: 0.6rem;
    align-self: center;
    font-size: 17px;
    color: aliceblue;
    margin: 20px;
    padding: 20px 40px;
    text-align: center;
    border: 2px solid aqua;
    font-weight: bold;
}

button:hover {
    color: orange;
    box-shadow: 3px 3px 20px #03e9f4, 3px 2px 20px #03e9f4;
}

/*sneaker cards section*/

h2 {
    font-family: 'Nosifer', cursive;
    font-size: 28pt;
}

.sneaker-cards-background {
    background-color: #0F3460;
    color: white;
    height: 50vh;
}

.sneaker-cards {
    display: flex;
    justify-content: space-between;
}


/*quote section*/

.quote {
    background-image: url(images/mountain2.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

blockquote {
    font-size: 36px;
    font-style: italic;
}

figcaption {
    color: aliceblue;
}

/*call to action section*/

.bottom {
    background-color: orange;
    height: 40vh;
}


.action {
    background-color: #277BC0;
    border-radius: 30px;
    color: aliceblue;
    display: flex;
    flex-direction: column;


}

h3 {
    font-family: 'Nosifer', cursive;
}

h4 {
    font: italic bold 20px 'M PLUS 1p', sans-serif;
    padding-top: 20px;


}

.action-message {
    color: orange;
    opacity: 100%;

}

.action-button {}

/*footer*/

.footer {
    background-color: #E94560;
    height: 5vh;
}

.footer-text {
    margin: auto;
    padding: 10px 10px;
    color: white;
    font-weight: bold;
}

/* media queries for different screen sizes */

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...
}