header {
    background-color: #16213E;
    border: none;
    color: white;
}

.top {
    background-color: #16213E;
    color: white;
}

.sneakers {
    background-color: #0F3460;
}

.quote {
    background-color: #533483;
}


.action {
    background-color: #277BC0;
}

.footer {
    background-color: #E94560;
}